
.dinner {
height: 600px;
width: 1200px;
display: flex;
flex-direction: column;



}
/* pasta, pizza and lasagna are all different items within the flex container of dinner. They are the four main flexbox containers for our page*/

.pasta {
    /* border: green dotted 5px; */
    flex: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 33, 52);
    color: white;
    height: 2000px;

}


.pizza {
/* border: #ff0000 solid 5px; */
flex-grow: 1;
justify-content: space-evenly;

   
   
}

.lasagna {
  /*  border: blue solid 20px; */
    display: flex;
    width: 1200px;
    flex: 1;
}

.panini {
  /*  border: pink solid 5px; */
    flex-grow: 1;
    width: 1194px;
}

.calzone {
    display: flex;
    border: black solid 5px;
    flex-grow: 1;
    width: 1194px;
    height: 50px;
    background-color: rgb(33, 33, 52);
    color: white;
    justify-content: center;
    align-items: center;

}


/* here we have the sub contents of .pasta */
/* here is the top header box .toppings */
    .toppings {
      /*  border: black solid 1px; */
        width: 1190px;
        height: 50px;
        display: flex;


    }

/* here are the two items of the flexbox toppings at the very top of our page container our header, these are within the pasta section*/

      .parmesan {
     /*   border: green solid 2px; */
        display: flex;
        flex: 1;
        margin-top: 20px;
        margin-left:150px;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        justify-content: flex-start;
        align-items: center;
        }

        .redsauce {
      /*  border: red solid 2px; */
        display: flex;
        flex: 1;
        height: 20px;
        margin-bottom: 20px;
        margin-right: 50px;
        padding: 4px;
        
       
        }

        /* these are items of the redsauce container */

            .tomatosauce {
               /*  border: black soild 2px; */
                width: 50px;
                height: 50px;
                flex: 1;
            }


    


    /* here is the much larger lower box called spaghetti that is an item of container .pasta */

    .spaghetti {
       /* border: blue solid 5px; */
       flex: 1;
        display: flex;

    }

/* here are some containers that go inside of our spaghetti container */

        .saute {
        display: flex;
       /* border: red solid 2px; */
        margin: 20px;
        flex: 1;
        flex-direction: column;

        }

        .heat {
        
        display: flex;
       /*  border: black solid 2px; */
        margin: 10px;
        margin-right: 100px;
        margin-bottom: 50px;
        flex: 1;
        align-items: center;
        justify-content: center;
        background-color: rgb(33, 33, 52);

        }


        /* here are some containers that go inside of our saute */

        .garlic {

            display: flex;
           /* border: pink solid 2px; */
            flex: 1;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            margin-right: 10
            0px;
            text-wrap: wrap;
            font-weight: bold;
          

        }

        .butter{

            display: flex; 
           /* border: blue solid 2px; */
            flex: 1;
            justify-content: center;
            align-items: center;
            padding-left: 120px;
            padding-right: 30px;
            
           
        }


        .oliveoil{

            display: flex;
            /* border: red solid 2px; */
            flex: 1;
            background-color: rgb(0, 76, 255);
            margin: 40px;
            margin-left: 120px;
            margin-right: 250px;
            justify-content: center;
            align-items: center; 
            border-radius: 5px;
        }



    /* these are items and containers that are sub-sections of our pizza section */ 

    .pepperoni {
        display: flex; 
        /* border: blue solid 10px; */
        margin-top: 20px;
        height: 20px;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        font-size: 22px;

        }

    .vegetables {
        display: flex;
       /* border: black solid 2px; */
        height: 150px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        
        }

        .cheese {
    
        display: flex;
       /*  border: orange solid 2px; */
        flex-grow: 1;
        height: 100px;
        justify-content: center;
        align-items: center;
        
           
            } 



    /* this item goes inside the vegetables container to form the CONTAINER for blue boxes and the text underneath */



    /* .yummyvegetables {
    
    display: flex;
    border:green solid 10px;
    flex: 1;
    }



    /* these items go inside the yummyvegetables container to form our blue boxes and the text underneath */


    .onions {
    
        display: flexbox;
        /* border: blue solid 2px; */
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 20px;
        height: 140px;
        width: 140px;
        border-radius: 8px;

        
        }
    
    .asiago  {
    
        display: flex;
       /* border: green solid 2px; */
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 30px;
        height: 100px;
        width: 140px;
        flex-wrap: wrap;
        flex-direction: row;
        }  


    /* these items will go inside of our lasagna text-box */

    .noodles {
    display: flex;
    /* border: black solid 10px; */
    background-color: rgb(215, 215, 215);
    height: 200px;
    width: 1150px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    }


    /* this is a sub container of noodles that contain the text quote by Thor */ 

    .gluten {
display: flex;
margin-top:60px;
height: 100px;
width: 350px;
flex-wrap:wrap;

    }

    .wheat {
    margin-left: 200px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;

    }


    /* this is where the sub-items of the container .panini will go */

    .ingredients {
    display: flex;
    background-color: rgb(29, 148, 251);
   /*  border: black solid 2px; */
    height: 150px;
    margin: 80px;
    border-radius: 8px;

    }


    /* this is where the sub-items of the container .ingredients will go */


    .meat {
        display: flex;
       /* border: black solid 2px; */
        flex: 3;
        flex-direction: column;

    }


    .bread {
        display: flex;
       /* border: black solid 2px; */
        flex: 1;
        justify-content: center;
        align-items: center;
       
    }


    /* this is where the sub-items of the container bread will go */

    .sourdough {
        display: flex;
        border: white solid 2px;
        width: 150px;
        height: 30px;
        color: white;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    /* this is where the sub-items of the container meat will go */

    .pastrami {

        display: flex;
       /* border: black solid 2px; */
        flex: 1;
        justify-content: center;
        align-items: flex-end;
        font-weight: bold;
        color: white;

    }

    .salami {

        display: flex;
      /*  border: black solid 2px; */
        flex: 1;
        justify-content: center;
        align-items: flex-start;
        color: white;

    }