
.dinner {
height: 600px;
width: 1400px;
display: flex;
flex-direction: column;



}
/* pasta, pizza and lasagna are all different items within the flex container of dinner. They are the four main flexbox containers for our page*/

.pasta {
    border: green dotted 5px;
    flex: 1.2;
    display: flex;
    flex-direction: column;
}


.pizza {
    border: Red solid 5px;
    flex: 1;
}

.lasagna {
    border: blue solid 5px;
    flex: 1;
}

.panini {
    border: pink solid 5px;
    flex: 0.8;
}


/* here we have the sub contents of .pasta */
/* here is the top header box .toppings */
    .toppings {
        border: black solid 1px;
        width: 1390px;
        height: 50px;
        display: flex;


    }

/* here are the two items of the flexbox toppings at the very top of our page container our header */

      .parmesan {
        border: green solid 2px;
        display: flex;
        flex: 1;
        margin: 20px;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        justify-content: center;
        align-items: center;
        }

        .redsauce {
        border: red solid 2px;
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        height: 20px;
        margin: 20px;
    
        }

        /* these are items of the redsauce container */

            .tomatosauce {
                border: black soild 2px;
                width: 50px;
                height: 50px;
                flex: 1;
            }


    


    /* here is the much larger lower box called spaghetti that is an item of container .pasta */

    .spaghetti {
        border: blue solid 5px;
       flex: 1;
        display: flex;

    }
